<head>
	<title>Multiplayer website</title>
	<style>
	* {
		margin: 0px;
		padding: 0px;
	}

	html{
		font-family: "Segoe UI";
		margin: auto;
	}

	header {
			font-weight: bold;
			background-color: #830505;
			width: 100%;
			padding: 10px 0px 10px 0px;
			margin-bottom: 10px;	
		overflow: hidden;
	}

	header h1, header a, header h2, footer p {
			padding: 0px 10px;
			color: white;
	}

	footer p{
		float: left;
	}

	header h1{
		float: left;
	}

	header a{
		float: right;
		width: 80px;
		font-size: 32px;
		text-decoration: none;
		transition: 0.4s ease-in-out;
	}

	header a:hover{
		transform: scale(1.2);
		color: red;
	}



	footer {
			position: fixed;
			bottom: 0px;
			background-color: #840505;
			width: 100%;
			padding: 10px 0px 10px 0px;
			text-align: center;
	}

	.user{
		width: 900px;
		margin: auto;
	}

	.user h1{
		margin: auto;
		display: block;
		width: 900px;
		color: white;
		background-color: #830505;
		border-top: 1px solid black;
		border-right: 1px solid black;
		border-left: 1px solid black;
		text-align: center;
	}


	.info{
		opacity: 0;
		clear: both;
		height: 0px;
		width: 900px;
		margin: auto;
		overflow: hidden;

		-webkit-transition: all .3s ease .15s;
		-moz-transition: all .3s ease .15s;
		-o-transition: all .3s ease .15s;
		-ms-transition: all .3s ease .15s;
		transition: all .3s ease .15s;

	}

	.user:hover > .info{
		opacity: 1;
		height: 280px;
		width: 900px;
		background-color: #D9D9D9;
		margin: auto;
		border: 1px solid black;
	}

	.textinfo{
		float: left;
		width: 300px;
		margin: auto;
		padding: 10px;
	}

	.equipinfo{
		width: 900px;
		margin: auto;
	}

	table, th, td{
		border-collapse: collapse;
		text-align: center;
	}

	tr:nth-child(2n-1){
		color: white;
		background-color: #830505;
	}

	table {
		border: 1px solid black;
		font-size: 18px;
		width: 800px;
		margin: auto;
	}

	h2 p{
		display: inline;
		color: #830505;
	}

	#load {
		width: 30px;
		animation:spin 4s linear infinite;	
	}

	#loadsym{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		font-family: arial;
		display: block;
		text-align: center;
		margin: 20px auto;
	}

	footer h2{
		font-size: 16px;
		color: white;
		float: right;
		margin-right: 20px;
	}
	</style>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>

var table;

jQuery.getJSON(window.location.href+"api?key=123", function(data){
	$.each(data, function(){
		handleData(data);
		console.log(data);
	});
});

function handleData(json){
	table = document.createElement("table");
	document.getElementById("sb").appendChild(table);
	addInfo(json["Objects"]);
}

function addInfo(json){
	for (var id in json) {
	  if (json.hasOwnProperty(id)) {
		var tr = document.createElement("tr");
		
		for (var detail in json[id]) {
		  if (json[id].hasOwnProperty(detail)) {
			var td = document.createElement("td");
			console.log(detail + " -> " + json[id][detail]);
			
			td.innerHTML = detail+" = "+json[id][detail];
			
			table.appendChild(tr);
			tr.appendChild(td);
		  }
		}
	  }
	}
}
</script>

<header id="head">
    <h1>Multiplayer Scoreboard</h1>
</header>

<div id="sb">
</div>

<footer>
    <p>Copyright &copy; 2016 Mutiplayer Scoreboard. All rights reserved.</p>
</footer>
